@import 'tailwindcss';

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

@theme {
  --color-primary: #0b5094;
  --color-gray: #a3aed0;
  --color-light-bluish-gray: #f4f7fe;
}
@layer components {
  .nav-item {
    @apply flex items-center gap-5 px-5 py-3 text-gray-700 rounded-md hover:bg-gray-100;
  }
  .not-scroll::-webkit-scrollbar {
    @apply hidden;
  }
}

.slot[data-swapy-highlighted] {
  @apply border border-dashed border-gray-400;
}
